*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  margin: 0;
}
header {
  margin: auto;
  background-color: #0f5298;
}
.header__content {
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.logo img {
  width: 100px;
  height: 37px;
  object-fit: cover;
}
.nav__menu a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.nav__menu a:first-child,
.nav__menu a:nth-child(2) {
  margin-right: 20px;
}
.container {
  margin-top: 50px;
}
.header__content-mobile {
  display: none;
}

@media (max-width: 576px) {
  .header__content-desktop {
    display: none;
  }
  .header__content-mobile {
    display: block;
  }
}
