header {
  position: relative;
}
.container {
  min-height: auto;
  margin-top: 0;
}
.parent-menu-item {
  cursor: pointer;
}
.dropdown-menu-full {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  padding-top: 0;
}
.nav__menu-item {
  cursor: pointer;
}
.sub-menu-active {
  display: block;
}
.sub-nav {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 50px;
}
.container {
  gap: 40px;
}
.sub-nav-item {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.sub-nav-item:hover {
  color: #30598c !important;
}
.sub-nav-item.sub-nav-item4 {
  color: #000;
}

.sub-nav-item-active {
  color: #30598c;
}
.sub-nav-item::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: blue;
  transition: all 0.3s ease-out;
  transform-origin: center;
  transform: scaleX(0);
}
.sub-nav-item-active::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: blue;
  transform: scaleX(1);
}

.sub-nav-item:hover::after {
  transform: scaleX(1);
}
.sub-content-group {
  display: flex;
  gap: 80px;
  font-size: 16px;
}
.sub-group-item {
  text-align: start;
  line-height: initial;
}
.sub-group-item-title {
  position: relative;
  padding: 18px 0;
  text-transform: uppercase;
  color: #30598c;
  cursor: default;
  font-weight: 500;
}
.sub-group-item-title::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #30598c;
}
.sub-group-item-text {
  padding: 8px 0;
}
.sub-group-item-text:nth-child(2) {
  padding-top: 18px;
}
.sub-content-group {
  padding: 10px 0 20px 0;
}
.sub-group-item-text {
  display: block;
  color: #000 !important;
  text-transform: capitalize !important;
  font-weight: 400 !important;
}

.sub-group-item-text:hover {
  color: #30598c !important;
}
.sub-content2,
.sub-content3 {
  display: none;
}
.mobile {
  display: none;
}
#submenu-dropdown-mobile-2 {
  height: auto;
  padding-top: 0;
  padding: 0;
  border-bottom: none !important;
}
.menu-ranks-content-active {
  left: 0 !important;
}

.parent-menu-item {
  border-bottom: thin solid #ccc;
}
.parent-menu-item a span,
.menu-ranks-2 span,
.menu-ranks-3 span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-ranks-2,
.menu-ranks-3,
.menu-ranks-title,
.menu-ranks-3-content > div > div,
.parent-menu-2__submenu > a > div {
  line-height: 60px;
  border-bottom: thin solid #ccc;
  padding: 0 25px !important;
  /* display: flex; */
  /* align-items: center; */
}
.parent-menu-2 {
  padding: 0 25px !important;
}
.menu-ranks-title {
  background: #f0efef;
  position: relative;
  display: flex;
  justify-content: center;
}
.menu-ranks-icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  padding: 0 25px 0 0;
}
.menu-ranks-1-content,
.menu-ranks-2-content,
.menu-ranks-3-content,
.parent-menu-2__submenu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 300px;
  height: 100%;
  background-color: #fff;
  transition: all 0.25s ease-out;
}
#submenu-dropdown-mobile-8 {
  padding: 0 !important;
  border-bottom: none;
}
.mobile a {
  display: block;
}
/* bỏ qua */
@media (max-width: 997px) {
  .header__user {
    display: none;
  }
  header {
    background-color: #fff;
  }
  .header__content-desktop {
    display: none;
  }
  .header__content-mobile {
    display: flex;
  }
  .nav__menu-mobile {
    display: block;
  }
  .header__content {
    padding: 0 15px;
  }
  .parent-menu.mobile {
    align-items: center;
    background-color: #fff;
    font-size: 1rem;
    height: 100%;
    left: -300px;
    position: fixed;
    top: 0;
    transition: 0.4s;
    width: 300px;
    z-index: 999;
    overflow-x: hidden;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.387);
    display: none;
    z-index: 100;
    display: none;
    z-index: 100;
  }
  .overlay-active {
    display: block;
  }

  .parent-menu-active {
    left: 0 !important;
  }
  .mobile {
    display: block;
  }
  .parent-menu.mobile li {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    padding: 10px 25px;
    font-size: 14px;
  }
}
