css a {
  color: unset;
}
a:hover {
  text-decoration: unset;
}
.margin-left-0 {
  margin-left: 0;
}

.color-icon-primary {
  color: rgb(166, 164, 164);
}
.box-shadow-primary {
  box-shadow: 0px 0px 5px 2px rgba(230, 229, 229, 0.531);
}
body {
  background-color: #f4f7fa;
  color: #464646;
}
.container {
  max-width: 1320px;
}
.menu__featureJob {
  display: flex;
  justify-content: center;
  padding: 3rem 0 2rem;
}
.menu__featureJob-item {
  font-weight: 500;
  color: #34465c;
  padding: 0 5px 5px;
  cursor: pointer;
  /* font-size: 24px; */
}
.menu__featureJob-item > a {
  color: #34465c;
}
.menu__featureJob-item:first-child {
  margin-right: 25px;
}
.menu__featureJob-item:last-child {
  border-bottom: 3px solid #505ab4;
}

/*  */

.job__content {
  min-height: 400px;
}
.job__header,
.job__content,
.job-similar {
  background-color: #ffffff;
  padding: 20px 30px;
}
.job__content {
  padding-bottom: 40px;
}
.job__title {
  padding-bottom: 20px;
}
.job__title-img > img {
  border: 1px solid #ccc;
  border-radius: 5px;
  object-fit: contain;
  width: 60px;
  aspect-ratio: 1 / 1;
  width: 60px;
  padding: 4px;
}
.job__title-img {
  margin-right: 15px;
  flex-shrink: 0;
}
.job__title-company-name {
  font-size: 18px;
}
.job__title-numberPerson {
  font-size: 14px;
  color: #999;
}

.job__info-base {
  padding: 20px 0;
  border-top: 1px solid rgb(207, 246, 237);
  border-bottom: 1px solid rgb(207, 246, 237);
}
.job__info-base-group {
  display: flex;
}
.job__time,
.job__dateSubmit,
.job__view {
  font-size: 14px;
  margin-right: 15px;
}
.job__time-icon,
.job__dateSubmit-icon,
.job__view-icon {
  margin-right: 5px;
}
.job__submit-file {
  width: 138px;
  height: 42px;
  background: #3986cd;
  border: none;
  color: #fff;
  margin-top: 20px;
}
.job__info-base-list {
  padding: 20px 0;
  border-bottom: 1px solid rgb(207, 246, 237);
}
.job__info-base-item {
  padding-bottom: 5px;
}
.job__info-base-item:not(:last-child) {
  border-right: 1px solid rgb(207, 246, 237);
}
.job__info-base-item > span {
  color: #7a7a7a;
}
.job__info-base-item > p {
  font-size: 14px;
  font-weight: 700;
}
.job__content-tab {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.tab-active {
  /* padding-bottom: 2px; */
  color: #505ab4;
  border-bottom: 3px solid #505ab4;
  cursor: pointer;
}
.job__content-tab1:hover,
.job__content-tab2:hover {
  color: #505ab4;
  cursor: pointer;
}
.job__content-tab1 {
  margin-right: 15px;
}
.job__content {
  margin-top: 24px;
}
.describe_job:first-child {
  border-top: thin solid #cff6ed;
}
.describe_job-title {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 0 10px;
}

.job__tab2-content {
  display: none;
}

/* job-similar */

.job-similar__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: -12px;
}
.job__list-item {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #0069db47;
  cursor: pointer;
  margin-top: 12px;
  height: 100%;
  align-self: start;
}

.job__list-item:hover {
  box-shadow: 0 3px 6px 0 rgb(0 86 145 / 31%);
  color: unset;
}
.image-logo {
  background-color: #ffff;
  padding: 0;
}
.image-logo img {
  border: 1px solid #ccc;
  border-radius: 5px;
  object-fit: contain;
  width: 100%;
  aspect-ratio: 1 / 1;
  width: 100%;
  padding: 4px;
}
.job-item__name-job {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job-item__name-company {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job-salary {
  margin-right: 10px;
}
.workplace {
  display: inline-block;
}
.job-salary__text {
  color: rgb(15, 97, 238);
}
.job-salary-icon,
.workplace-icon,
.job__time-icon {
  color: rgb(166, 164, 164);
}
.expires-apply {
  margin-top: 20px;
  background-color: #ededed !important;
  padding: 0 !important;
  width: 138px;
}

/* modal */
.modal-header,
.modal-footer {
  /* padding: 16px 0; */
}
.modal-content {
  padding: 8px;
  margin: 0 10px;
}
.modal-dialog {
  max-width: 500px;
  margin: auto;
}
.modal-title {
  font-size: 14px;
  color: rgba(69, 29, 160);
  font-weight: 700;
  margin-bottom: 5px;
}
.modal-job-name {
  font-weight: 700;
  font-size: 18px;
}
.modal-job-company-name {
  color: rgba(182, 182, 184);
  font-size: 12px;
}
#user-email,
#user-name,
#user-phone {
  border: none;
  display: block;
  padding: 7px 10px;
  width: 100%;
  background-color: #eeeeee54;
}
.btn-upload-file {
  padding: 3px 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  color: #451da0;
}
.file__upload-name {
  margin-bottom: 10px;
  font-weight: 500;
  display: none;
}
.file__upload-name-text {
  margin-left: 10px;
}
.modal-body label {
  margin: 15px 0 5px 0;
  font-weight: 500;
}

.input_error {
  color: red;
}
.modal-body .label-update-file {
  display: block;
}
.modal-footer > .row,
.modal-footer button {
  width: 100%;
}
.modal-footer > .row > div:first-child {
  padding-left: 0;
  padding-right: 8px;
}
.modal-footer > .row > div:last-child {
  padding-left: 8px;
  padding-right: 0;
}
.modal-footer > .row > div:last-child > button {
  background: #3986cd;
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
}
.modal-footer > .row > div:first-child > button {
  background: #fff;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
}
#update-file {
  max-width: 85px;
}
.modal-content .close {
  border: none;
  background-color: #fff;
  font-size: 30px;
}

/* modal login */
.login-contain,
.logout-contain {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f7fa;
}
.logout-contain {
  display: none;
}
#login,
#logout {
  width: 478px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(234, 240, 246);
  box-shadow: rgb(47 47 47 / 12%) 0px 0px 16px;
  border-radius: 4px;
  padding: 40px;
}

.login-header,
.logout-header {
  text-align: center;
  padding-bottom: 30px;
  font-size: 24px;
}
.switch-page-register-group,
.switch-page-login-group {
  text-align: center;
}
.switch-page-register-group {
  margin-top: 20px;
}
.switch-page-register,
.switch-page-login {
  border-bottom: 1px solid #66bb6a !important;
  font-weight: 500;
  color: #66bb6a !important;
  cursor: pointer;
}

.login-item {
  margin-bottom: 2rem;
}
.login-item input {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  width: 100%;
}
.login-item-half {
  margin-bottom: 5px;
}
.btn-login-modal,
.btn-login-modal:hover {
  border-radius: 4px;
  letter-spacing: 0.5px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  width: 100%;
  color: #fff !important;
}
.btn-green,
.btn-green:hover {
  background-color: #66bb6a !important;
  border-radius: 4px;
  color: #fff;
  outline: 0;
  text-align: center;
  transition: 0.5s;
}
.fab {
  border-radius: 50%;
  color: #fff;
  height: 40px;
  margin: 0 10px;
  overflow: hidden;
  width: 40px;
}
.text-center {
  text-align: center !important;
}
#loginModal .modal-body {
  padding: 48px;
}
#tab__title-login,
#tab__title-register {
  border: none;
}
.job-item__content {
  padding-right: 20px;
}
.saveJob {
  position: absolute;
  top: 10px;
  right: 2px;
  width: auto;
  font-size: 18px;
  color: rgb(37, 139, 241);
  z-index: 10;
  cursor: pointer;
}
.icon-save {
  display: none;
}
/* media query */
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
  .job-similar {
    margin-top: 24px;
  }
}

@media (max-width: 576px) {
  .job__info-base-group {
    display: block;
  }
  .job__header,
  .job__content {
    padding: 20px;
  }
  .job__submit-file,
  .btn-save-job,
  .expires-apply {
    width: 100% !important;
  }
}
@media (max-width: 414px) {
  .menu__featureJob-item {
    font-size: 22px;
  }
  .describe_job-text p {
    font-size: 14px;
  }
}
@media (max-width: 376px) {
  .menu__featureJob-item {
    font-size: 20px;
  }
}

@media (max-width: 340px) {
  .menu__featureJob-item {
    font-size: 18px;
  }
}
